:root {
    --green: rgb(84, 179, 84);
    --grey: rgb(248, 245, 245);
    --shadow: rgba(0,0,0,0.2);
    --dark-green: rgb(33, 117, 33);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px red dotted; */
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.inner-container {
    background-color: white;
    display: flex;
    width: 80%;
    min-width: 1200px;
    margin: auto;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex: 2;
}

aside {
    display: flex;
    flex: 1;
    /* max-height: 100vh; */
    /* because if not set the page's y-scroll bar shows up */
}

img {
    flex: 1;
    /* so that img can cover the gap that appears to its right as the img shrinks with decreasing viewport height */
    max-height: 100vh;
    /* to keep from overflowing container, which causes scroll bar */
    min-height: 900px;
    /* to keep from screwing aspect ratio too much; might want to use smaller scale img at this point */
    /* anything smaller than 900px will leave gaps on the bottom as you decrease viewport height */
}

header, article, footer {
    flex: 1;
    padding-left: 2em;
}

header {
    padding-top: 16%;
    padding-bottom: 3%;
    background-color: var(--grey);
}

h1 {
    margin-bottom: 20px;
    font-weight: 900;
}

header p {
    width: 80%;
    /* so that it does not span the whole container width-wise */
}

article {
    padding-top: 5%;
    padding-bottom: 3%;
}

article h2 {
    margin-bottom: 30px;
}

section {
    display: inline-block;
    /* so that right section does not 'overlap' left */
}

section > * {
    display: block;
}

section.left {
    float: left;
    margin-right: 100px;
}

/* FORM */

label + input {
    margin-top: 2px;
    margin-bottom: 8px;
    height: 23px;
    border: 1px gray solid;
    outline: none;
    /* removes black 'border' shown during focus */
}

input:focus {
    box-shadow: 2px 2px 2px var(--shadow);
    border-color: blue;
    /* border: 3px red solid; */
}

footer {
    padding-top: 5%;
    padding-bottom: 10%;
    background-color: var(--grey);
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.2);
    /* added here because it was not 'working' in the article: would have to add margin bottom or alter z-index to make shadow appear */
}

footer p {
    font-size: 0.8em;
}

button {
    font-size: 0.8em;
    font-weight: 900;
    margin-bottom: 30px;
    padding: 6px 32px;
    background-color: var(--green);
    color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

a {
    margin-left: 5px;
    text-decoration: none;
}

a:visited {
    color: var(--green);
}

a:link {
    color: red;
}

