* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px red dashed; */
}

body {
    background-color: black;
}


.inner-container {
    background-color: white;
    display: flex;
    width: 80%;
    min-width: 1200px;
    margin: auto;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex: 2;
}

aside {
    display: flex;
    flex: 1;
    /* max-height: 100vh; */
}

img {
    flex: 1;
    /* so that img can cover the gap that appears to its right as the img shrinks with decreasing viewport height */
    max-height: 100vh;
    /* to keep from overflowing container, which causes scroll bar */
    min-height: 700px;
    /* to keep from screwing aspect ratio too much; might want to use smaller scale img at this point */
}

header, article, footer {
    flex: 1;
}


